<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NotificationViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cusUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ios10通知学习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7A2D1491DC196340057ADAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B878751DD2FA9A00BFDAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B878881DD301F700BFDAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7B878A61DD34C5300BFDAFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
